Projects/NAOServer2/NAOServer2/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFLanguageProcessing.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFLanguageProcessing.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="Behaviour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
</xs:schema>