Projects/NAOServer2/NAOServer2/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://167.205.66.66/LanguageProcessingService/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://167.205.66.66/LanguageProcessingService/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://167.205.66.66/LanguageProcessingService/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFLanguageProcessing" />
      <xsd:import schemaLocation="http://167.205.66.66/LanguageProcessingService/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFLanguageProcessing.Model" />
      <xsd:import schemaLocation="http://167.205.66.66/LanguageProcessingService/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTextResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTextResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTextResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTextResponseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadGrammar_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadGrammar" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadGrammar_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadGrammarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetPersonName_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPersonName" />
  </wsdl:message>
  <wsdl:message name="IService1_SetPersonName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPersonNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTextResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTextResponse" message="tns:IService1_GetTextResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTextResponseResponse" message="tns:IService1_GetTextResponse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetResponse" message="tns:IService1_GetResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetResponseResponse" message="tns:IService1_GetResponse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadGrammar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoadGrammar" message="tns:IService1_LoadGrammar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoadGrammarResponse" message="tns:IService1_LoadGrammar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPersonName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetPersonName" message="tns:IService1_SetPersonName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetPersonNameResponse" message="tns:IService1_SetPersonName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTextResponse">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTextResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResponse">
      <soap:operation soapAction="http://tempuri.org/IService1/GetResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadGrammar">
      <soap:operation soapAction="http://tempuri.org/IService1/LoadGrammar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPersonName">
      <soap:operation soapAction="http://tempuri.org/IService1/SetPersonName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://167.205.66.66/LanguageProcessingService/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>